@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);

body{
	font-family: 'Josefin Sans', sans-serif;
	margin: 0;
	background-color: white; 
	color:white;
}
header{
	background-color: #007744;
	width: 100%;
	height: 20%;
}
a{
   text-decoration:none;
   color:white;
}
.o{
	text-align:center;
}
table, td, tr, th{
	border:1px solid;
	border-color:white;
	border-collapse:collapse;
	background-color:#3CB371;
	color:white;
	margin:0px auto;
}
iframe{
	width:500%;
	height:90%;
}
th{
BACKGROUND-COLOR:#2E8B57;
}
tr, th{
	height:200%;
}
td, th{	
	width:50%;
	height:80%;
	font-size:20px;
}
section{
	width: 80%;
	height: auto;
	background-color: whitesmoke;
	margin: 20 auto;
	box-shadow: 0px 0px 15px #007744;
}
footer{
	background-color: #007744;
	width: 100%;
	height: 10%;
	color: whitesmoke;
	text-align: center;
	font-size: 120%;
}
h1{
	font-family: arial;
	color: whitesmoke;
	text-align: center;
	font-size: 200%;
}

.menu{
	color: white;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	background-color: whitesmoke;
	border-radius: 5px;
}

*{margin: 0; padding: 0;}
 
body{
font-size: 140%;
}
 
.menu{
list-style:none;
border:1px solid #007744;
float:left;
}
.menu li{
position:relative;
float:left;
width: 25%;
}
.menu li a{
color:#007744; 
text-decoration:none; 
padding:5px 10px; 
display:block;
}
 
.menu li a:hover{
background-color:c0c0c0;
color:007744;
}
.menu li  ul{
position:absolute;
left:0;
background-color: white;
display:none;
}  
.menu li:hover ul, .menu li.over ul{
display:block;
}
.menu li ul li{
border:1px solid #007744;
display:block;
width:100%;
color:#007744;
}
.menu li ul li:hover{
background-color:c0c0c0;
}
.descricao{
	width: 80%;
	height: auto;
	color: #007744;
	padding: 5px;
	font-size: 120%;
	text-align: center;
	border: 1px dashed #007744;
	margin: auto;
	top: 5%;
}
.objetivo{
	width: 80%;
	height: auto;
	color: black;
	padding: 5px;
	font-size: 100%;
	margin: auto;
	top: 5%;
}
p{
	font-size: 65%;
	text-align: center;
}
h2{
	text-align: center;
	color: #007744;
	font-size: 130%;
}